<div class="">
  <form>

    Skip Tie: <input type="checkbox" ng-click="$ctrl.getModulasData()" ng-model="$ctrl.skipTie" /> Curl: <input type="checkbox" ng-click="$ctrl.getModulasData()" ng-model="$ctrl.curl" />
    <span><input class="" type="text" ng-model="$ctrl.modulasNumber"/><button class="btn"  ng-click="$ctrl.getModulasData()">
      mod
      </button>
  
    <div class="board" style="width:{{$ctrl.getBoardWidth($ctrl.burnCard.cardNum)*31}}px">
      <span ng-repeat='gm in $ctrl.modulasData track by $index'>
        <br ng-if="($index % $ctrl.getBoardWidth($ctrl.burnCard.cardNum))==0"/>
       <span>
        <bactiles data="gm" ng-click="$ctrl.setCurrentGm(gm)" ></bactiles>
      </span>
  </span>
    </div>
  </form>
  <div>