<div style="width:100%">
  <input type="checkbox" name="horizon"/>horizon
  <button ng-click="$ctrl.newBoard()"> New Board </button>
  <button ng-click="$ctrl.newBoard()"> Delete Board </button>
  <button ng-click="$ctrl.anlytcs()"> Run Analytics </button>
  <br/>
  <br/>
 
  <br/>
  <div>
    <button ui-sref="dashboardModulasView">Modulas</button>
    <button ui-sref="dashboardTailView">Tail View</button>
    <button ui-sref="dashboardNumberView">Number View</button>
  </div>
 <ui-view></ui-view>

</div>