.jumbotron {
  vertical-align:middle;

  color: white;
}

.page_ctrl{
  float:right;
  width:100%;
}

div#home {
    background-image: url(/bacGame/mobile/img/home/home_bg.jpg);
    height:100%;
    width:100%;
  vertical-align:middle;
    background-size: Auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #040404;
   }
}
