@font-face {
  font-family: "Papyrus Regular";
  src: url("fonts/PAPYRUS.TTF");
}

div#bacG {}

div#pageHeader {
  width: 100%;
  max-width: 1200px;
  height: 40px;
  position: fixed;
  background-image: url(/bacGame/mobile/img/header_title.jpg);
  background-position: center;
}

div#content {}

body {
  font-family: "Papyrus Regular";
  margin: 0px;
}

span#siteHeader {
  float: right;
  font-size: 1.5em;
  -webkit-margin-before: 10px;
  -webkit-margin-after: 10px;
  -webkit-margin-start: 10px;
  -webkit-margin-end: 10px;
  font-weight: bold;
}

span#pageHeader {
  float: left;
  font-size: 1.5em;
  -webkit-margin-before: 10px;
  -webkit-margin-after: 10px;
  -webkit-margin-start: 10px;
  -webkit-margin-end: 10px;
  font-weight: bold;
}

div#mobilefooter {
  position: fixed;
  bottom: 0px;
  height: 15px;
  width: 100%;
  max-width: 1200;
  background-image: url(/bacGame/mobile/img/siteMenuBarBaseLin.png);
  background-position: bottom;
  background-size: auto 47px;
}

div#site {
  background-image: url(/bacGame/mobile/img/index_bg.png);
  background-size: auto 100%;
}

div#siteMenu {
  position: fixed;
  bottom: 8px;
}

div#page {
  width: 100%;
  align-content: center;
  text-align: center;
  height: 100%;
  max-width: 1200px;
}

img#siteMenu {
  height: 50px;
}

.button {
  text-decoration: none;
  margin: 2px;
  margin-top: 10px;
  padding: 2px;
  float: right;
  width: 25%;
  text-align: center;
}

.red {
  background: #a30808;
  color: white;
}

.blue {
  background: #4134b9;
  color: white;
}

.green {
  background: green;
  color: white;
}

.page_bottom {
  position: fixed;
  bottom: 14px;
  width: 100%;
  max-width: 1200px;
}