<div class="">
  <form>

    Vertical: <input type="checkbox" ng-click="$ctrl.getModulasData()" ng-checked="$ctrl.verticalBoard" /> Curl: <input type="checkbox" ng-click="$ctrl.getModulasData()" ng-model="$ctrl.curl" />
    <rzslider rz-slider-model="$ctrl.burnCard.cardNum"></rzslider>

    <div class="board" style="width:{{$ctrl.getBoardWidth($ctrl.burnCard.cardNum)*31}}px">
      <span ng-repeat='gm in $ctrl.modulasData track by $index'>
        <br ng-if="($index % $ctrl.getBoardWidth($ctrl.burnCard.cardNum))==0"/>
        <bactiles  index="$index"  data="gm" ></bactiles>
    
  </span>
    </div>
  </form>
  <div>