 .gam {
    width: 30px;
    margin-left: 1px;
    margin-bottom: 3px;
    height: 30px;
    position: relative;
    color: white;
    overflow: hidden;
    border-radius: 15px;
    float: left;
   
 }
 
 .brow {
   width: 100%;
   height: 50%;
 }
.break{
  height:34px;
}
 
 .bnkr {
   background-color: rgba(255, 0, 0, .6);
    box-shadow: inset -4px -4px 8px 1px black;
 }
  .bnkrtie {
      border-color: rgb(237, 11, 43);
    border-width: 3;
    border-style: solid;
  
 }
 .plyr {
 background-color: rgb(151, 197, 219);
    box-shadow: inset -4px -4px 8px 1px black;
 }
.plyrtie{
border-color: rgb(27, 141, 198);
    border-width: 3;
    border-style: solid;
}
 .te {
   background-color: green;
    box-shadow: inset -4px -4px 8px 1px black;
 }
 
 .smallCell {
   position: relative;
   width: 15px;
   height: 15px;
   margin: 0px;
 }
 
 .p3 {
   border-color: rgb(20, 180, 50);
   float: left;
   background-color: black;
   vertical-align: Top;
 }
 
 .b3 {
   border-color: rgb(255, 0, 0);
   background-color: grey;
   float: right;
   top: 0px;
   right: 0px;
   position: relative;
 }
 
 .bnkD {
   border-color: rgb(255, 0, 0);
   background-image: linear-gradient(to right top, red 0%, transparent 80%), url("../../img/dragon.png");
   background-size: cover;
   z-index:10;
   overflow: hidden;
 }
.dragonP{
  
   background-image: linear-gradient(to right top, blue 0%, transparent 70%), url("../../img/black_dragon.jpg");
   background-size: cover;
   z-index:11;
   overflow: hidden;
  opacity: 0.6;
}
.dragonB{
  
   background-image: linear-gradient(to right top, red 0%, transparent 70%), url("../../img/black_dragon.jpg");
   background-size: cover;
   z-index:11;
   overflow: hidden;
  opacity: 0.6;
}
 .plrD {
   border-color: rgb(20, 180, 50);
   background-image: linear-gradient(to right top, blue 0%, transparent 50%), url("../../img/dragon.png");
   background-size: cover;
   z-index:10;
   position: relative;
 }
 
 .curr {
   border: 2px solid black;
 }
 
 .t-overlay {
   padding: 5px;
   position: absolute;
   z-index: 100;
 }